<div>
    <form action="/reviews/new" method="post">
      <legend>New Review</legend>
      <div>
        <label for="restaurant-name">Name</label>
        <input type="text" name="name" id="review-name" placeholder="Name">
      </div>
      <div>
        <label for="restaurant-rating">Rating</label>
        <textarea typ="number" name="review" id="restautant-rating" placeholder="0"></textarea>
      </div>
      <div>
        <label for="restaurant-review">Review</label>
        <textarea name="review" id="restautant-review" placeholder="Review"></textarea>
      </div>
      <div class='text-right'>
        <button type="submit">Create Review</button>
      </div>
    </form>
  </div>
